[project]
	description = EADS course Module 1 homework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group EADS UPM group
	owner = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/for/refs/*"]
	read = group EADS UPM group
	read = group user/Miguel Angel Julian Aguilar (thar)
	push = group EADS UPM group
	push = group user/Miguel Angel Julian Aguilar (thar)
	label-Code-Review = -2..+2 group EADS UPM group
	label-Code-Review = -2..+2 group user/Miguel Angel Julian Aguilar (thar)
	label-Verified = -1..+1 group EADS UPM group
	label-Verified = -1..+1 group user/Miguel Angel Julian Aguilar (thar)
	rebase = group EADS UPM group
	rebase = group user/Miguel Angel Julian Aguilar (thar)
	removeReviewer = group EADS UPM group
	removeReviewer = group user/Miguel Angel Julian Aguilar (thar)
	submit = group EADS UPM group
	submit = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/heads/*"]
	read = group EADS UPM group
	read = group user/Miguel Angel Julian Aguilar (thar)
	create = group EADS UPM group
	create = group user/Miguel Angel Julian Aguilar (thar)
	push = +force group EADS UPM group
	push = +force group user/Miguel Angel Julian Aguilar (thar)
	pushMerge = group EADS UPM group
	pushMerge = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/tags/*"]
	push = +force group EADS UPM group
	push = +force group user/Miguel Angel Julian Aguilar (thar)
	pushTag = group EADS UPM group
	pushTag = group user/Miguel Angel Julian Aguilar (thar)
	pushSignedTag = group EADS UPM group
	pushSignedTag = group user/Miguel Angel Julian Aguilar (thar)
